.nav
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav a
{
    text-decoration: none;
    font-family: sans-serif;
    color: #877160 ;
    display:inline-block ;
    padding: 10px 20px;
    background-color: #607788 ;
    border-bottom: 1px solid #B0C7D8 ;
}

.nav ul
{
    display: inline;
   
}